@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-size: 18px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._loaded .mainscreen__bg-big {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.wrapper._loaded .mainscreen__bg-small {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
  line-height: 1;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  font-size: 20px;
  height: 50px;
}

.input._error {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  padding-top: 54px;
  padding-bottom: 54px;
  background: #c4c4c4;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 35px 0px;
}

.footer__logo {
  display: block;
}

.footer__logo img {
  width: 302px;
  height: 85px;
}

.footer__lead {
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  color: #1d1d1d;
  text-align: center;
  max-width: 420px;
  margin-right: 100px;
}

.footer__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: left;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainscreen__bg-big {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.mainscreen__bg-small {
  display: none;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.mainscreen__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.mainscreen__logo {
  display: block;
  margin: 10px 0px 0px 0px;
}

.mainscreen__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainscreen__title {
  margin: 0 auto;
}

.mainscreen__title-img {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainscreen__title-img span {
  display: block;
  font-weight: bold;
  font-size: 48px;
  line-height: 73px;
  color: #ffffff;
  text-transform: uppercase;
}

.mainscreen__title-img img {
  width: 378px;
  height: 106px;
  margin: 0px 0px 0px 8px;
}

.mainscreen__title-text {
  display: none;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

.mainscreen__title-text span {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  color: #6fab87;
  margin: 5px 0px 0px 0px;
}

.mainscreen__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 112.5%;
  color: #ffffff;
  text-align: center;
  max-width: 715px;
}

.mainscreen__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainscreen__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin: 0px 0px 12px 0px;
}

.mainscreen__img {
  position: relative;
}

.mainscreen__img:last-child {
  width: 163px;
  height: 100px;
  margin-left: 39px;
}

.mainscreen__img img {
  max-width: 100%;
}

.mainscreen__img-first {
  position: absolute;
  -webkit-transform: translate(-2%, -20%);
      -ms-transform: translate(-2%, -20%);
          transform: translate(-2%, -20%);
}

.mainscreen__img-last {
  position: absolute;
  -webkit-transform: rotate(14deg) translateY(7%);
      -ms-transform: rotate(14deg) translateY(7%);
          transform: rotate(14deg) translateY(7%);
}

.mainscreen__text {
  margin: 0px 0px 64px 0px;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  text-align: center;
  max-width: 450px;
}

.mainscreen__arrow {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15px;
  -webkit-animation: arrow 0.9s ease-out infinite alternate;
          animation: arrow 0.9s ease-out infinite alternate;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 5px;
  }

  100% {
    bottom: 15px;
  }
}

@keyframes arrow {
  0% {
    bottom: 5px;
  }

  100% {
    bottom: 15px;
  }
}

.prizes {
  padding-top: 60px;
  padding-bottom: 35px;
}

.prizes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prizes__title {
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  font-size: 39px;
  padding-top: 45px;
  line-height: 123%;
  text-align: center;
  color: #ff0000;
  margin-bottom: 40px;
  position: relative;
}

.prizes__title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 1px;
  background-color: #44c793;
}

.prizes__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 30px;
}

.item-prizes {
  position: relative;
}

.item-prizes *:last-child {
  margin-bottom: 0;
}

.item-prizes__bg {
  width: 100%;
  position: relative;
  margin: 0px 0px 11px 0px;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.item-prizes__bg img {
  max-width: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-prizes__bg._active {
  -webkit-animation: carts 0.15s ease 4 alternate;
          animation: carts 0.15s ease 4 alternate;
}

@-webkit-keyframes carts {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes carts {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.item-prizes__label {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 31px;
  color: #000000;
}

.item-prizes__label span {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  text-transform: uppercase;
  color: #ff0000;
}

.item-prizes__quantity {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-decoration: underline;
  margin: 0px 0px 5px 0px;
}

.item-prizes__quantity span {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #ff0000;
  text-decoration: underline;
  display: inline-block;
}

.item-prizes__place {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #7b7b7b;
}

.about {
  padding-top: 88px;
  padding-bottom: 67px;
  background-color: #fff;
}

.about__body {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 64px;
}

.about__title {
  font-weight: bold;
  font-size: 48px;
  color: #000000;
  margin-bottom: 21px;
  margin-left: 300px;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__bg {
  position: relative;
  width: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.about__bg img {
  max-width: 100%;
}

.about__bg._active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.description-about__caption {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.description-about__subtitle {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 38px;
}

.description-about__list {
  padding-left: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description-about__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  margin: 0px 0px 5px 0px;
}

.description-about__list li img {
  margin-right: 34px;
}

.description-about__list li:last-child {
  margin-top: 15px;
}

.conditions {
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(#e6e6e6));
  background: -o-linear-gradient(bottom, #e6e6e6, #e6e6e6);
  background: linear-gradient(0deg, #e6e6e6, #e6e6e6);
  padding-top: 42px;
  padding-bottom: 117px;
  position: relative;
}

.conditions:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #fff;
  display: none;
}

.conditions__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.conditions__title {
  font-weight: 600;
  font-size: 39px;
  line-height: 59px;
  line-height: 59px;
  font-family: "Poppins", sans-serif;
  color: #373737;
  position: relative;
  margin-bottom: 27px;
}

.conditions__subtitle {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 77px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#ff0000));
  background: -o-linear-gradient(bottom, #ff0000, #ff0000);
  background: linear-gradient(0deg, #ff0000, #ff0000);
  border-radius: 34px;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
  max-width: 754px;
  text-align: left;
}

.conditions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.conditions__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  padding: 0px 0px 0px 130px;
}

.conditions__number {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0.7s;
  -o-transition: all 0.8s ease 0.7s;
  transition: all 0.8s ease 0.7s;
}

.conditions__number-first {
  left: 60px;
}

.conditions__number-first img {
  width: 101px;
  height: 289px;
}

.conditions__number-last {
  left: 30px;
}

.conditions__number-last img {
  width: 200px;
  height: 293px;
}

.conditions__number._active {
  opacity: 1;
  visibility: visible;
}

.conditions__form {
  width: 300px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.7s ease 0.5s;
  -o-transition: all 0.7s ease 0.5s;
  transition: all 0.7s ease 0.5s;
}

.conditions__form._active {
  width: 370px;
}

.form-conditions__label {
  font-weight: 500;
  font-size: 35px;
  line-height: 59px;
  color: #373737;
  font-family: "Poppins", sans-serif;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 0.8s ease 0.9s;
  -o-transition: all 0.8s ease 0.9s;
  transition: all 0.8s ease 0.9s;
}

.form-conditions__label._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.form-conditions__input {
  width: 100%;
  height: 58px;
  -webkit-box-shadow: 0px 0.78261px 3.13043px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0.78261px 3.13043px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 10px 0px;
}

.form-conditions__input input {
  background: #ecf9f4;
  border: 0.391304px solid #000000;
  width: 100%;
  height: 100%;
  border-radius: 7.82609px;
  font-weight: normal;
  font-size: 16px;
  color: #7b7b7b;
  padding: 0px 16px;
  font-family: "Poppins", sans-serif;
}

.form-conditions__input input:focus {
  border: 2px solid #000000;
}

.form-conditions__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-conditions__input-average {
  width: 240px;
}

.form-conditions__input-small {
  width: 122px;
  margin-left: 8px;
}

.form-conditions__btn {
  margin: 7px 0px 0px 0px;
  width: 100%;
  min-height: 58px;
  background: #827575;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.offer__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 59px;
  font-size: 39px;
  font-family: "Open Sans", sans-serif;
  color: #373737;
  background-color: #fff;
}

.offer__body {
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(#e6e6e6));
  background: -o-linear-gradient(bottom, #e6e6e6, #e6e6e6);
  background: linear-gradient(0deg, #e6e6e6, #e6e6e6);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-top: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__list {
  max-width: 1250px;
  background: -webkit-gradient(linear, left bottom, left top, from(#838383), to(#838383));
  background: -o-linear-gradient(bottom, #838383, #838383);
  background: linear-gradient(0deg, #838383, #838383);
  border-radius: 34px;
  padding: 20px 40px;
}

.offer__list li {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.offer__btn {
  min-height: 45px;
  padding: 10px 0px;
  background: #827575;
  -webkit-box-shadow: 0px 0.782609px 3.13;
          box-shadow: 0px 0.782609px 3.13;
  font-weight: 600;
  font-size: 14.676px;
  line-height: 22px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7.82609px;
  padding: 0px 64px;
}

.invitation {
  padding-top: 35px;
  margin-bottom: 25px;
}

.invitation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invitation__title {
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#ff0000));
  background: -o-linear-gradient(bottom, #ff0000, #ff0000);
  background: linear-gradient(0deg, #ff0000, #ff0000);
  border-radius: 34px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 36px;
  text-transform: uppercase;
  text-align: center;
}

.invitation__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
  position: relative;
}

.invitation__img {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.invitation__img img {
  max-width: 100%;
}

.invitation__img:first-child {
  margin-right: 162px;
}

.invitation__img._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.invitation__btn {
  min-height: 66px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0000), to(#ff0000));
  background: -o-linear-gradient(bottom, #ff0000, #ff0000);
  background: linear-gradient(0deg, #ff0000, #ff0000);
  border-radius: 34px;
  padding-left: 98px;
  padding-right: 98px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 320px) {
  .mainscreen {
    min-height: 450px;
  }

  .mainscreen__bg {
    min-height: 450px;
  }

  .mainscreen__container {
    min-height: 450px;
  }
}

@media (min-width: 570px) {
  .mainscreen {
    min-height: 500px;
  }

  .mainscreen__bg {
    min-height: 500px;
  }

  .mainscreen__container {
    min-height: 500px;
  }
}

@media (min-width: 767.98px) {
  .mainscreen {
    min-height: 550px;
  }

  .mainscreen__bg {
    min-height: 550px;
  }

  .mainscreen__container {
    min-height: 550px;
  }

  .offer__btn {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1182px) {
  .conditions__column {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .conditions__number-first {
    left: 0;
  }

  .conditions__number-last {
    left: 0;
  }
}

@media (max-width: 1170px) {
  .footer {
    padding-top: calc(11px + 43 * ((100vw - 320px) / 850));
  }

  .footer__logo img {
    width: calc(260px + 42 * ((100vw - 320px) / 850));
  }

  .footer__logo img {
    height: calc(73px + 12 * ((100vw - 320px) / 850));
  }

  .footer__lead {
    font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  }

  .footer__lead {
    line-height: calc(21px + 10 * ((100vw - 320px) / 850));
  }

  .footer__lead {
    margin-right: calc(0px + 100 * ((100vw - 320px) / 850));
  }

  .mainscreen__title-img span {
    font-size: calc(24px + 24 * ((100vw - 320px) / 850));
  }

  .mainscreen__title-img span {
    line-height: calc(19px + 54 * ((100vw - 320px) / 850));
  }

  .mainscreen__title-img img {
    width: calc(212px + 166 * ((100vw - 320px) / 850));
  }

  .mainscreen__title-img img {
    height: calc(60px + 46 * ((100vw - 320px) / 850));
  }

  .mainscreen__subtitle {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }

  .mainscreen__img:last-child {
    margin-left: calc(19px + 20 * ((100vw - 320px) / 850));
  }

  .mainscreen__text {
    font-size: calc(15px + 11 * ((100vw - 320px) / 850));
  }

  .mainscreen__text {
    line-height: calc(19px + 12 * ((100vw - 320px) / 850));
  }

  .prizes {
    padding-top: calc(25px + 35 * ((100vw - 320px) / 850));
  }

  .prizes {
    padding-bottom: calc(15px + 20 * ((100vw - 320px) / 850));
  }

  .prizes__title {
    font-size: calc(24px + 15 * ((100vw - 320px) / 850));
  }

  .prizes__title {
    padding-top: calc(20px + 25 * ((100vw - 320px) / 850));
  }

  .prizes__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 850));
  }

  .prizes__content {
    -webkit-column-gap: calc(0px + 100 * ((100vw - 320px) / 850));
       -moz-column-gap: calc(0px + 100 * ((100vw - 320px) / 850));
            column-gap: calc(0px + 100 * ((100vw - 320px) / 850));
  }

  .item-prizes__label {
    font-size: calc(18px + 7 * ((100vw - 320px) / 850));
  }

  .item-prizes__label span {
    font-size: calc(18px + 7 * ((100vw - 320px) / 850));
  }

  .item-prizes__quantity {
    font-size: calc(14px + 10 * ((100vw - 320px) / 850));
  }

  .item-prizes__quantity {
    line-height: calc(18px + 12 * ((100vw - 320px) / 850));
  }

  .item-prizes__quantity span {
    font-size: calc(14px + 10 * ((100vw - 320px) / 850));
  }

  .item-prizes__quantity span {
    line-height: calc(18px + 12 * ((100vw - 320px) / 850));
  }

  .item-prizes__place {
    font-size: calc(12px + 6 * ((100vw - 320px) / 850));
  }

  .about {
    padding-top: calc(23px + 65 * ((100vw - 320px) / 850));
  }

  .about {
    padding-bottom: calc(47px + 20 * ((100vw - 320px) / 850));
  }

  .about__body {
    padding-left: calc(15px + 145 * ((100vw - 320px) / 850));
  }

  .about__body {
    padding-right: calc(15px + 49 * ((100vw - 320px) / 850));
  }

  .about__body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 850));
  }

  .about__title {
    margin-bottom: calc(28px + -7 * ((100vw - 320px) / 850));
  }

  .about__title {
    margin-left: calc(0px + 300 * ((100vw - 320px) / 850));
  }

  .description-about__caption {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }

  .description-about__caption {
    margin-bottom: calc(29px + -4 * ((100vw - 320px) / 850));
  }

  .description-about__subtitle {
    font-size: calc(14px + 10 * ((100vw - 320px) / 850));
  }

  .description-about__subtitle {
    line-height: calc(17px + 10 * ((100vw - 320px) / 850));
  }

  .description-about__subtitle {
    margin-bottom: calc(35px + 3 * ((100vw - 320px) / 850));
  }

  .description-about__list {
    padding-left: calc(0px + 56 * ((100vw - 320px) / 850));
  }

  .description-about__list li {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }

  .description-about__list li img {
    margin-right: calc(21px + 13 * ((100vw - 320px) / 850));
  }

  .description-about__list li:last-child {
    margin-top: calc(21px + -6 * ((100vw - 320px) / 850));
  }

  .conditions {
    padding-top: calc(42px + 0 * ((100vw - 320px) / 850));
  }

  .conditions {
    padding-bottom: calc(124px + -7 * ((100vw - 320px) / 850));
  }

  .conditions:before {
    height: calc(140px + -10 * ((100vw - 320px) / 850));
  }

  .conditions__title {
    font-size: calc(36px + 3 * ((100vw - 320px) / 850));
  }

  .conditions__title {
    line-height: calc(40px + 19 * ((100vw - 320px) / 850));
  }

  .conditions__title {
    margin-bottom: calc(10px + 17 * ((100vw - 320px) / 850));
  }

  .conditions__subtitle {
    margin-bottom: calc(72px + 5 * ((100vw - 320px) / 850));
  }

  .conditions__subtitle {
    font-size: calc(15px + 5 * ((100vw - 320px) / 850));
  }

  .conditions__subtitle {
    font-size: calc(14px + 10 * ((100vw - 320px) / 850));
  }

  .conditions__subtitle {
    line-height: calc(19px + 16 * ((100vw - 320px) / 850));
  }

  .conditions__number-first img {
    width: calc(100px + 1 * ((100vw - 320px) / 850));
  }

  .conditions__number-first img {
    height: calc(226px + 63 * ((100vw - 320px) / 850));
  }

  .conditions__number-last img {
    width: calc(151px + 49 * ((100vw - 320px) / 850));
  }

  .conditions__number-last img {
    height: calc(226px + 67 * ((100vw - 320px) / 850));
  }

  .form-conditions__label {
    font-size: calc(27px + 8 * ((100vw - 320px) / 850));
  }

  .form-conditions__label {
    line-height: calc(46px + 13 * ((100vw - 320px) / 850));
  }

  .form-conditions__input {
    height: calc(45px + 13 * ((100vw - 320px) / 850));
  }

  .form-conditions__input input {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }

  .form-conditions__input-average {
    width: calc(188px + 52 * ((100vw - 320px) / 850));
  }

  .form-conditions__input-small {
    width: calc(95px + 27 * ((100vw - 320px) / 850));
  }

  .form-conditions__btn {
    min-height: calc(45px + 13 * ((100vw - 320px) / 850));
  }

  .form-conditions__btn {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .offer__title {
    font-size: calc(24px + 15 * ((100vw - 320px) / 850));
  }

  .offer__body {
    padding-top: calc(20px + 58 * ((100vw - 320px) / 850));
  }

  .invitation {
    margin-bottom: calc(48px + -23 * ((100vw - 320px) / 850));
  }

  .invitation__title {
    font-size: calc(18px + 18 * ((100vw - 320px) / 850));
  }

  .invitation__title {
    padding-top: calc(28px + 10 * ((100vw - 320px) / 850));
  }

  .invitation__title {
    padding-bottom: calc(28px + 10 * ((100vw - 320px) / 850));
  }

  .invitation__title {
    margin-bottom: calc(24px + 12 * ((100vw - 320px) / 850));
  }

  .invitation__img:first-child {
    margin-right: calc(0px + 162 * ((100vw - 320px) / 850));
  }

  .invitation__btn {
    min-height: calc(80px + -14 * ((100vw - 320px) / 850));
  }

  .invitation__btn {
    padding-left: calc(70px + 28 * ((100vw - 320px) / 850));
  }

  .invitation__btn {
    padding-right: calc(70px + 28 * ((100vw - 320px) / 850));
  }

  .invitation__btn {
    font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  }

  .invitation__btn {
    line-height: calc(16px + 15 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .footer__lead {
    margin-right: 0;
  }

  .conditions__form {
    width: 340px;
  }

  .conditions__form._active {
    width: 340px;
  }
}

@media (max-width: 991.98px) and (max-width: 1170px) {
  .conditions__form {
    width: calc(289px + 51 * ((100vw - 320px) / 850));
  }

  .conditions__form._active {
    width: calc(289px + 51 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 770px) {
  .conditions:before {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .footer {
    background: #a6a2a2;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 0px 0px;
  }

  .footer__logo {
    margin-bottom: 18px;
  }

  .footer__text {
    display: none;
  }

  .about {
    background: rgba(69, 68, 68, 0.15);
  }

  .about__title {
    margin-left: 0;
    text-align: center;
  }

  .about__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__bg {
    display: none;
  }

  .description-about__list li:last-child {
    padding: 0px 0px 0px 65px;
  }

  .conditions__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .conditions__column:first-child {
    padding: 0px 0px 75px 0px;
    margin: 0px 0px 57px 0px;
  }

  .conditions__column:first-child:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0 auto;
    width: 199px;
    height: 1px;
    background-color: #ff0000;
  }

  .conditions__number-first {
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
  }

  .conditions__number-last {
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
  }

  .form-conditions__label {
    text-align: center;
  }

  .offer__body {
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff));
    background: -o-linear-gradient(bottom, #fff, #fff);
    background: linear-gradient(0deg, #fff, #fff);
  }

  .offer__list {
    display: none;
  }
}

@media (max-width: 600px) {
  .prizes__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 570px) {
  .mainscreen__title-img {
    display: none;
  }

  .mainscreen__title-text {
    display: block;
  }

  .mainscreen__subtitle {
    display: none;
  }

  .mainscreen__images {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0px 0px 55px 0px;
  }

  .mainscreen__img:last-child {
    width: 139px;
    height: 80px;
  }

  .mainscreen__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px 0px 10px 0px;
  }

  .mainscreen__arrow {
    display: none;
  }
}

@media (max-width: 550px) {
  .invitation__title {
    font-weight: 700;
  }

  .invitation__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .invitation__img:first-child {
    margin-right: 0;
    margin-bottom: 48px;
  }
}

@media (max-width: 400px) {
  .mainscreen__bg-big {
    display: none;
  }

  .mainscreen__bg-small {
    display: block;
  }
}

@media (any-hover: hover) {
  .item-prizes__bg:hover {
    -webkit-transform: skew(-5deg, 0deg);
        -ms-transform: skew(-5deg, 0deg);
            transform: skew(-5deg, 0deg);
  }

  .form-conditions__btn:hover {
    background: #585151;
  }
}